<app-header></app-header>

<div
  class="headerOffset d-flex flex-row justify-content-center align-items-center"
>
  <img src="/assets/WeatherIcon.png" alt="Your Image" />
  <div class="flex-row">
    <app-card-button
      [title]="'Add Weather Records'"
      [description]="'Click here to add new weather records.'"
    ></app-card-button>
    <app-card-button
      [title]="'Browse Weather Records'"
      [description]="'Click here to view existing weather records.'"
    ></app-card-button>
  </div>
</div>

<app-footer></app-footer>
