.recordTable {
  min-width: 120vh;
}

.mat-table {
  display: flex;
  flex-direction: column;
  height: 75vh;
  overflow-y: auto;
}

.mat-row,
.mat-cell {
  flex: 1;
}

.mat-cell,
.mat-header-cell {
  flex: 1;
  overflow: hidden;
  white-space: nowrap; /* Optional: Prevent cell content from wrapping */
  text-overflow: ellipsis; /* Optional: Add ellipsis for overflowed content */
}
mat-header-cell,
mat-cell {
  justify-content: center;
}
