.recordTable {
  min-width: 120vh;
}

.mat-table {
  height: 75vh;
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex: 1;
}

.flex-cell {
  overflow: auto; /* or overflow: hidden; depending on your requirements */
}
// .table-container {
//   flex: 1;
//   min-height: 0;
//   overflow: auto;
// }
// .mat-cell {
//   flex: 1;
// }

mat-header-cell,
mat-cell {
  justify-content: center;
}
