/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

.headerOffset {
  margin-top: ($spacer * 4) !important;
}

.plain-text-link {
  color: inherit;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
